{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/usr/games/cowsay",
          {{if .Message}}{{.Message}}{{else}}"Pass me an input called Message, like lilypad run lilypadnetwork/lilysay:v0.0.1 -i Message=moo"{{end}}
        ],
        "Image": "lilypadnetwork/lilysay:0.0.2@sha256:d14579336c14d5f8dcd18114259e515f2ae9bc4b1247569a7f96741e941d54a1"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}