{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/bin/sh",
          "-c",
          "ln -sf /usr/share/cowsay/cows/$(if [ \"$2\" = \"lilyfrog\" ]; then echo \"lilyfrog\"; else echo \"lilypad\"; fi).cow /usr/share/cowsay/cows/default.cow && /usr/games/cowsay \"$1\""
        ],
        "Image": "lilypadnetwork/lilysay:0.0.3@sha256:c074de4a788b549ba2c79679555629a503816aaabc29da96e53faa6bc3e7f689"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
